<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <customErrors mode="On" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="404.aspx"/>
    </customErrors>
    </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <error statusCode="404" subStatusCode="0" path="404.aspx" responseMode="Redirect"></error>
    </httpErrors>
  </system.webServer>
    <connectionStrings>
      <add name="conSM" providerName="System.Data.SqlClient" connectionString="Data Source = (local); Initial Catalog = stockmatrix; Integrated Security = SSPI;"/>
    </connectionStrings>

</configuration>
